 1. A list contains names of boys and girls as its elements. Boysâ€™ names are stored as tuples. Write a program to find out number of boys
 and girls in the list. (Hint: use isinstance(ele,tuple)

In [1]:
names = [("Ravi", "Arjun"), ("Amit",), "Priya", "Sita", ("Vikram", "Raj"), "Anjali", "Laxmi"]

boys = 0
girls = 0

for ele in names:
    if isinstance(ele, tuple):
        boys += 1
    else:
        girls += 1

print("Number of boys:", boys)
print("Number of girls:", girls)

Number of boys: 3
Number of girls: 4

 2. A list contains tuples containing roll no., name and age of student. Write a python program to create three lists separately for roll no.,
 name and age

In [2]:
students = [(101, "Ravi", 20), (102, "Amit", 22), (103, "Priya", 19), (104, "Anjali", 21)]

roll_no = []
names = []
ages = []

for student in students:
    roll_no.append(student[0])
    names.append(student[1])
    ages.append(student[2])

print("Roll numbers:", roll_no)
print("Names:", names)
print("Ages:", ages)

Roll numbers: [101, 102, 103, 104]
Names: ['Ravi', 'Amit', 'Priya', 'Anjali']
Ages: [20, 22, 19, 21]

 3. Suppose a date is represented as a tuple (d, m, y). Create two date tuples and find the number of days between the two dates

In [3]:
from datetime import datetime

def date_to_datetime(date_tuple):
    return datetime(date_tuple[2], date_tuple[1], date_tuple[0])

date1 = (5, 6, 2023)
date2 = (12, 8, 2024)

date1_dt = date_to_datetime(date1)
date2_dt = date_to_datetime(date2)

difference = (date2_dt - date1_dt).days

print(f"Number of days between {date1} and {date2}: {difference} days")

Number of days between (5, 6, 2023) and (12, 8, 2024): 434 days

 4. Create a list of tuples containing a food item and its price. Sort the tuples in descending order by price

In [5]:
food_items = [("Burger", 5), ("Pizza", 10), ("Pasta", 7), ("tacos", 12), ("Fries", 3)]

sorted_food_items = sorted(food_items, key=lambda x: x[1], reverse=True)

print("Food items sorted by price in descending order:")
for item in sorted_food_items:
    print(item)

Food items sorted by price in descending order:
('tacos', 12)
('Pizza', 10)
('Pasta', 7)
('Burger', 5)
('Fries', 3)

5. Remove empty tuple(s) from the list of tuples.

In [6]:
tuples_list = [("Apple", 5), (), ("Banana", 3), (), ("Grapes", 8)]

filtered_list = [tup for tup in tuples_list if tup]

print("List after removing empty tuples:")
print(filtered_list)

List after removing empty tuples:
[('Apple', 5), ('Banana', 3), ('Grapes', 8)]

 6. Modify an element of a tuple

In [7]:
original_tuple = (1, 2, 3, 4)

temp_list = list(original_tuple)

temp_list[1] = 99

modified_tuple = tuple(temp_list)

print("Original Tuple:", original_tuple)
print("Modified Tuple:", modified_tuple)

Original Tuple: (1, 2, 3, 4)
Modified Tuple: (1, 99, 3, 4)

7. Delete an element of a tuple

In [8]:
original_tuple = (1, 2, 3, 4)

new_tuple = original_tuple[:1] + original_tuple[2:]

print("Original Tuple:", original_tuple)
print("New Tuple:", new_tuple)

Original Tuple: (1, 2, 3, 4)
New Tuple: (1, 3, 4)