Write a program that converts words present in a list into uppercase and stores them in a set.

In [2]:
words = ['apple', 'banana', 'cherry',]
uppercase_set = set(word.upper() for word in words)
print(uppercase_set)

{'APPLE', 'CHERRY', 'BANANA'}

Write a program to create a set containing 10 random numbers in the range 15 to 45. Count how
many of these numbers are less than 30. Delete all numbers that are greater than 35.

In [3]:
import random

numbers = set(random.randint(15, 45) for _ in range(10))
count_less_than_30 = sum(1 for num in numbers if num < 30)
numbers = {num for num in numbers if num <= 35}

print("Set:", numbers)
print("Count of numbers less than 30:", count_less_than_30)

Set: {33, 35, 19, 20, 21, 25}
Count of numbers less than 30: 4

Create an empty set. Write a program that adds five new names to this set, modifies one existing
name and deletes two names from it.

In [4]:
names = set()

names.add('Ishaan')
names.add('Tanvi')
names.add('Rudra')
names.add('Veda')
names.add('Yuvan')

names.remove('Tanvi')
names.remove('Rudra')

names.add('Sharanya')

print("Updated Set:", names)

Updated Set: {'Ishaan', 'Sharanya', 'Veda', 'Yuvan'}

A set contains names which begin either with A or with B. Write a program to separate out the
names into two sets, one containing names beginning with A and another with B.

In [5]:
names = {'virat', 'rohit', 'ravindra', 'ravi', 'mahi', 'rishabh'}

v_names = {name for name in names if name.startswith('v')}
r_names = {name for name in names if name.startswith('r')}

print("Names starting with V:", v_names)
print("Names starting with R:", r_names)

Names starting with V: {'virat'}
Names starting with R: {'ravindra', 'rishabh', 'rohit', 'ravi'}