Print largest and smallest values out of two

In [3]:
a= 50
b = 10
if (a>b):
  print("Num 1 is largest values")
else:
  print("num 1 is smallest")
if(b>a):
  print("num 2 is largest values")
else:
  print("num 2 is smallest")

Num 1 is largest values
num 2 is smallest

 Print largest and smallest values out of three

In [5]:
a = 504
b = 234
c = 678
if(a>b and a>c):
  print("num 1 is largest values")
else:
  print("num 1 is smallest")
if(b>c and b>a):
  print("num 2 is largest values")
else:
 print("num 2 is smallest")
if(c>a and c>b):
 print("num 3 is largest")
else:
 print("num 3 is smallest")

num 1 is smallest
num 2 is smallest
num 3 is largest

 Check whether a given number is odd or even

In [6]:
num = 56
if(num%2==0):
  print("Even")
else:
 print("odd")

Even

Check whether a given number is divisible by 10 or not.

In [7]:
num = 123
if(num%10==0):
 print("it is divisiable by 10")
else:
 print("not it is not divisiable by 10")

not it is not divisiable by 10

 Accept age of a person. If age is less than 18, print minor otherwise Major

In [8]:
age = int(input("Enter the age of person:"))
if(age<18):
 print("minor")
else:
 print("major")

Enter the age of person:45
major

Accept a number from the user. And print number of digits in it

In [9]:
 num = input("Enter the numbers:")
 print(len(num))

Enter the numbers:657
3

Accept a year value from the user. Check whether it is a leap year or not

In [11]:
 year = int(input("Enter the year:"))
 if( year % 4 == 0 and ( year % 400 == 0 or year % 100 != 0 )):
  print("it's a leap year")
 else:
  print("it's not leap year")

Enter the year:2020
it's a leap year

Check whether a triangle is valid or not, when the three angles of the triangle are entered through the keyboard. A triangle is valid if te sum
 of all the three angles is equal to 180 degrees.

In [14]:
a = int(input("Enter the 1st angle:"))
b = int(input("Enter the 2nd angle:"))
c = int(input("Enter the 3rd angle5:"))
if(a + b + c == 180):
 print("triange is valid")
else:
 print("triange is invalid")

Enter the 1st angle:2
Enter the 2nd angle:6
Enter the 3rd angle:455
triange is invalid

Print absolute value of a given number

In [16]:
 a = -50
 print(abs(a))

50

Given the length and breadth of a rectangle, write a program to find whether theare of the rectangle is greater than its perimeter

In [18]:
length = 76
breath = 98
area = length * breath
perimeter = 2*(length + breath)
if(area > perimeter):
 print('area is greater than perimeter')
else:
 print('area is smaller than perimeter')

area is greater than perimeter

Given three points (x1,y1), (x2,y2) and (x3,y3), check if all the three points fall on one straight line

In [19]:
x1 = 100
x2 = 200
x3 =400
y1 =800
y2 = 600
y3 =1200
a = (x1*(y2-y3))+(x2*(y3-y1))+(x3*(y1-y2))
if (a == 0):
 print('all the points fall on one stright line')
else:
 print("all the points dont fall on one stright line")

all the points dont fall on one stright line

 Given the coordinates (x,y) of center of a circle and its radius, determine whether a point lies inside the circle, on the circle or outside the
 circle.

In [20]:
import math
circlex = 60
circley = 54
radius = 100
pointx = 3
pointy = 0
distance = math.sqrt(math.pow(pointx - circlex, 2) +
math.pow(pointy - circley, 2))
if distance < radius:
 print(f"The point ({pointx}, {pointy}) is inside the circle.")
elif distance == radius:
 print(f"The point ({pointx}, {pointy}) is on the circle.")
else:
 print(f"The point ({pointx}, {pointy}) is outside the circle.")

The point (3, 0) is inside the circle.

Convert number 0 to 19 to its equivalent words. E.g. 0  zero, 19 nineteen.

In [24]:
num = 6
num_word = [
"zero", "one", "two", "three", "four", "five", "six", "seven",
"eight", "nine",
"ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen",
"sixteen",
"seventeen", "eighteen", "nineteen"
]
if 0 <= num <= 19:
 print(f"The number {num} is written as'{num_word[num]}'.")
else:
 print("Number is out of range (0-19).")

The number 6 is written as'six'.

Accept marks of three subjects. Print total and average along with whether a candidate has passed or fail. If student secures <= 39
 marks in any subject, consider him as fail. Also assigned a subject wise grade based on the following table: bold text

In [25]:
sub1 = int(input("Enter the maths marks:"))
sub2 = int(input("Enter the chemistry marks:"))
sub3 = int(input("Enter the physics marks:"))
sum = ( sub1 + sub2 + sub3 ) / 3
if(sub1 <= 39 or sub2 <=39 or sub3<=39):
 print("Fail")
elif(sum>= 40 and sum <=44 ):
 print("P")
elif(sum>= 45 and sum <=49 ):
 print("C")
elif(sum>= 50 and sum <=54 ):
 print("B")
elif(sum>= 55 and sum <=59 ):
 print("B+")
elif(sum>= 60 and sum <= 69 ):
 print("A")
elif(sum>= 70 and sum <= 79):
 print("A+")
elif(sum>= 80 and sum <=100 ):
 print("O")
else:
 print("good")

Enter the maths marks:35
Enter the chemistry marks:67
Enter the physics marks:8
Fail