<a href="https://colab.research.google.com/github/Tirth2857/python-code/blob/main/Tirth_Mistry24BCH149_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1.) Add two numbers

In [10]:
 a=4
 b=5
 ans=a+b
 print(ans)

9

Subtract two numbers

In [11]:
 a=6
 b=5
 ans=a-b
 print(ans)

1

Multiply two numbers

In [12]:
 a=87
 b=2
 ans=a*b
 print(ans)

174

Divide two numbers

In [13]:
 a=15
 b=5
 ans=a/b
 print(ans)

3.0

Add subtract multiply and divide

In [16]:
 a=100
 b=5
 j=a+b
 k=a-b
 l=a*b
 m=a/b
 print(j,k,l,m)

105 95 500 20.0

Hours into minutes

In [17]:
 hours=5
 min=hours*60
 print(min)

300

minutes to hours

In [18]:
 min=120
 hours=min/60
 print(hours)

2.0

dollar to rs

In [20]:
 dollar=100
 rs=dollar*48
 print(rs)

4800

rs to dollers

In [22]:
 rs=4800
 dollar=rs/48
 print(dollar)

100.0

Convert dollars into pound where 1 $ = 48 Rs. And 1 pound = 70 Rs.

In [23]:
 dollar=1000
 rs=dollar*48
 pound=rs/70
 print(pound)

685.7142857142857

Convert grams into kg.

In [24]:
 gms=1000
 kg=gms/1000
 print(kg)

1.0

 Convert kgs into grams.

In [25]:
 kg=5
 gms=kg*1000
 print(gms)

5000

 Convert bytes into KB, MB and GB

In [26]:
 bytes=1000000000
 kb=bytes/1024
 mb=kb/1024
 gb=mb/1024
 print(kb,mb,gb)

976562.5 953.67431640625 0.9313225746154785

 Convert celcius into Fahrenheit

In [30]:
c=36
f=(9/5*c)+32
print(f)

96.8

Convert Fahrenheit into celcius

In [33]:
f=100
c=5/9*(f-32)
print(c)

37.77777777777778

 Calculate interest

In [35]:
 p=10000
 r=10
 n=1
 i=p*r*n/100
 print(i)

1000.0

 Calculate area & perimeter of a square

In [36]:
 l=10
 a=l**2
 p=4*l
 print(a,p)

100 40

Calculate area & perimeter of a rectangle

In [38]:
l=10
b=5
a=l*b
p=2*(l+b)
print(a,p)

50 30

 Calculate area of a circle

In [39]:
r=10
a=22/7*r*r
print(a)

314.2857142857143

Calculate area of a triangle

In [41]:
 h=10
 l=5
 a=h*l/2
 print(a)

25.0

Calculate net salary where net salary = gross salary + allowance – deduction. Allowances are 10% while deductions are 3% of gross
 salary.

In [42]:
gs=500000
a=gs*10/100
d=gs*3/100
ns=gs+a-d
print(ns)

535000.0

 Calculate net sales where net sales = gross sales – 10% discount of gross sales

In [44]:
 gs=1000000
 d=gs*10/100
 ns=gs-d
 print(ns)

900000.0

Calculate average of three subjects along with their total

In [45]:
maths=69
chem=72
phy=56
total=maths+chem+phy
avg=total/3
print(total,avg)

197 65.66666666666667

 Swap two values

In [46]:
 a=99
 b=100
 temp=a
 a=b
 b=temp
 print(a,b)

100 99